@media (max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 700px;
    }

    .top__content {
        max-width: 343px;
        height: 371px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    .top__title {
        color: rgba(32, 32, 39, 1);
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        width: 262px;
        height: 196px;
        margin-bottom: 24px;
        margin-top: 147px;
    }

    .top__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        width: 296px;
        height: 60px;
        margin-bottom: 36px;
    }

    .top-btn {
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        width: 227px;
        height: 21px;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .overflow-hidden {
        display: none;
    }

    .top2 {
        display: none;
    }

    .top3 {
        height: 3740px;
    }

    .top3__title {
        color: rgba(255, 255, 255, 1);
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin-top: 48px;
        margin-bottom: 48px;
        width: 250px;
        height: 48px;
    }

    .top3-box__content {
        gap: 24px;
        row-gap: 0;
    }

    .top3-box__card4 {
        display: flex;
        flex-direction: column;
        height: 528px;
       
    }

    .top3-box__img {
        width: 343px;
    }

    .top3-box__box-info {
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 29px;
        padding-bottom: 32px;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;
        border-top-left-radius: 0;
    }

    .top3-box__subtitle {
        color: rgba(32, 32, 39, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        width: 249px;
    }

    .top3-box__description {
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        width: 249px;
    }

    .top3-box__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
    }

    .top3-box__btn:hover {
        display: none;
    }

    .top3-box__card5 {
        display: flex;
        flex-direction: column;
        height: 528px;
    }

    .top4 {
        height: 100px;
    }

    .top4__content_text {
        font-size: 16px;
        padding-top: 40px;
    }

}