@media (max-width:767px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .top {
        height: 700px;

        //   background-image: url(img/mobbigstar3.svg);
        //   background-repeat: no-repeat;
        //   background-position: 188px 0px;
        //   background: #E1FF8F;

    }

    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;

    }

    .bigstar {
        width: 35px;
        height: 35px;
        top: 97px;
        left: 37px;
    }

    .littlestar {
        width: 21px;
        height: 21px;
        top: 64px;
        left: 91px;
    }

    .bigstar2 {
        width: 39px;
        height: 41px;
        top: 580px;
        right: 34px;
    }

    .littlestar2 {
        width: 18px;
        height: 18px;
        top: 557px;
        right: 86px;
    }

    .star2 {
        display: none;
    }

    .top__title {
        color: rgba(32, 32, 39, 1);
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        width: 262px;
        height: 196px;
        margin-top: 147px;

    }

    .top__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        width: 296px;
        height: 60px;
    }

    .top-btn {
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        width: 285px;
        height: 55px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 28px;
        padding-right: 28px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .top-btn_text {
        font-size: 16px;
        font-family: Montserrat;
    }

    .top2 {
        display: none;
    }

    .top3 {
        height: 3740px;
    }

    .top3__title {
        color: rgba(255, 255, 255, 1);
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin-top: 48px;
        margin-bottom: 48px;
        height: 48px;
    }

    .top3-box__content {
        row-gap: 24px;
    }

    .top3-box__card4 {
        display: flex;
        flex-direction: column;

    }

    .top3-box__img {
        width: 343px;
    }

    .top3-box__box-info {
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 29px;
        padding-bottom: 32px;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;

    }

    .top3-box__subtitle {
        color: rgba(32, 32, 39, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        width: 249px;
    }

    .top3-box__description {
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        width: 240px;
    }

    .top3-box__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-family: Montserrat;
    }

    .top3-box__btn:hover {
        display: none;
    }

    .top3-box__card5 {
        display: flex;
        flex-direction: column;
        height: 590px;
    }

    .top3-box__box-info2 {
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 29px;
        padding-bottom: 32px;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;
        border-top-left-radius: 0;
    }

    .top4 {
        height: 100px;
    }

    .top4__content_text {
        font-size: 16px;
        padding-top: 40px;
    }

}