@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    background-color: rgba(188, 236, 48, 1);
    height: 90px;
    width: 3220px;
    margin-top: auto;
    padding-left: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(img/Starnarbar.jpg);
    background-position: 232px 27px;
    background-repeat: no-repeat;
    gap: 51px;

    &__item {
        color: rgba(32, 32, 39, 1);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        text-align: left;
        text-transform: uppercase;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__box-container {
        padding-top: 196px;
    }

    &__title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        max-width: 769px;
        margin-bottom: 24px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        width: 720px;
        height: 64px;
        margin-bottom: 48px;
    }
}

.top__btn {
    text-decoration: none;
}

.top-btn {
    width: 247px;
    height: 66px;
    border: 1px solid #202027;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);

    &_text {
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
    }

    &:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}

.bigstar {
    position: absolute;
    opacity: 1;
    top: 94px;
    left: 63px;
    border-width: 1px;
}

.littlestar {
    position: absolute;
    opacity: 1;
    top: 69px;
    left: 156px;
    border-width: 1px;
}

.bigstar2 {
    position: absolute;
    opacity: 1;
    top: 568px;
    right: 400px;
    border-width: 1px;

}

.littlestar2 {
    position: absolute;
    opacity: 1;
    top: 538px;
    right: 500px;
    border-width: 1px;
}

.star2 {
    position: absolute;
    top: -4px;
    right: 0px;
    border-width: 1px;

}

.overflow-hidden-mob {
    display: none;
}

.top2 {
    background-image: url(img/top2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        max-width: 1201px;
        display: grid;
    }

    &__title {
        margin-top: 94px;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        color: $color-text;
        margin-bottom: 24px;
    }

    &__content_text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $color-text;
        width: 788px;
        margin-bottom: 72px;
    }
}

.top2-box__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
}

.top2-box__card {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: transform 0.5s;
    text-decoration: none;
}

.top2-box__card:hover {
    transform: scale(1.1);
}

.top2-box__img {
    border-radius: 30px;
}

.top2-box__box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 36px;
}

.top2-box__info {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top2-box__title {
    background: #F7F7F7;
    font-weight: 500;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 52.58px;
    color: rgba(32, 32, 39, 1);

}

.top2-box__title_text {
    width: 76px;
    height: 18px;
}

.top2-box__description {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: rgba(32, 32, 39, 1);
}
.top2-box__card2 {
    background: rgba(255, 255, 255, 1);
    height: 512px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: transform 0.5s;
    text-decoration: none;
}

.top2-box__card2:hover {
    transform: scale(1.1);
}

.top2-box__card3 {
    background: rgba(255, 255, 255, 1);
    height: 551px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: transform 0.5s;
    text-decoration: none;
}

.top2-box__card3:hover {
    transform: scale(1.1);
}

.top2-box__description_2 {
    max-width: 78px;
}

.top2-box__description_3 {
    max-width: 117px;
}

.bigstar3 {
    position: absolute;
    box-sizing: border-box;
    top: 877px;
    right: 0px;
}

.bigstar4 {
    position: absolute;
    opacity: 1;
    top: 1622px;
    left: 40px;
    border-width: 1px;
}

.littlestar3 {
    position: absolute;
    opacity: 1;
    top: 1570px;
    left: 25px;
    border-width: 1px;
}

.top3 {
    height: 3500px;
    background-image: url(img/top3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        display: grid;
    }

    &__title {
        margin-top: 46px;
        font-weight: 700;
        font-size: 64px;
        color: $color-text;
        margin-bottom: 72px;
    }
}

.bigstar5 {
    position: absolute;
    opacity: 1;
    top: 2396px;
    right: 104px;
    border-width: 1px;
}

.littlestar4 {
    position: absolute;
    opacity: 1;
    top: 2363px;
    right: 200px;
    border-width: 1px;
}

.bigstar6 {
    position: absolute;
    opacity: 1;
    top: 5636px;
    right: 104px;
    border-width: 1px;
}

.littlestar5 {
    position: absolute;
    opacity: 1;
    top: 5684px;
    right: 200px;
    border-width: 1px;
}

.top3-box__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}


.top3-box__card4 {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}

.top3-box__img {
    border-radius: 30px;
    width: 600px;
}

.top3-box__box-info {
    max-width: 489px;
    background: $color-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.top3-box__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top3-box__subtitle {
    color: rgba(32, 32, 39, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 24px;
}

.top3-box__description {
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 36px;

}

.top3-box__btn {
    width: 247px;
    height: 66px;
    border: 1px solid #202027;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat;
}

.top3-box__btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.top3-box__card5 {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.top3-box__box-info2 {
    max-width: 489px;
    background: $color-text;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.top3-box__info2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top4 {
    height: 150px;
    background-image: url(img/top4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content_text {
        padding-top: 60px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }
}

@import 'mobile';