* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top__content {
     max-width: 756px;
    display: grid;
    gap: 48px;
}

.top__title{
    margin-top: 196px;
    font-size: 64px;
    line-height: 100%;
   
}

.top__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 720px;
    height: 64px;
} 

.btn {
    width: 117px;
    height: 34px;
    border: 1px solid #202027;
    border-radius: 60px;
}

.btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn__text {
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
}

.top2 {
    height: 1470px;
    background-image: url(img/top2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top2__content {
    max-width: 1201px;
    display: grid;

}

.title2 {
    margin-top: 100px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 24px;
    
}

.top2__content_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 788px;
    margin-bottom: 72px;
}

.top2-box__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
}

.top2-box__card {
    height: 473px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top2-box__img {
    border-radius: 30px;

}

.top2-box__info {
    background: #FFFFFF;
    height: 159px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 36px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.top2-box__title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 107px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top2-box__description {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    
}

.top2-box__card2 {
    height: 512px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top2-box__card3 {
    height: 551px;
    width: 378px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top2-box__description_2 {
    max-width: 78px;
}

.top2-box__description_3 {
    max-width: 117px;
}

.top3 {
    height: 3500px;
    background-image: url(img/top3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top3__content {
    max-width: 1200px;
    display: grid;

}