* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    height: 800px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top__content{
    max-width: 769px;
    display: grid;
    gap: 48px;
}

.title{
    margin-top: 196px;
    font-size: 64px;
    line-height: 100%;
    height: 156px;
    
}

.top__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 720px;
    height: 64px;
}

.btn{
    width: 117px;
    height: 34px;
    border: 1px solid #202027;
    border-radius: 60px;
}

.btn:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn__text{
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
}

.top2{
    height: 1470px;
    background-image: url(img/top2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top2__content{
    max-width: 1201px;
    display: grid;
    gap: 72px;
    
}

.title2{
    margin-top: 100px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #FFFFFF;
    
}

.top2__content_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 788px;
    height: 96px;
}

.top2-box__img{
    border-radius: 30px;

}

.top2-box__info{
    border-radius: 30px;
    
}
.top2-box__title{
    background: rgba(247, 247, 247, 1);
}

.top2-box__description{
    background: rgba(247, 247, 247, 1);

}

    

