* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-image: url(img/top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__content {
  display: grid;
  width: 769px;
  gap: 24px;
}
.top__title {
  margin-top: 196px;
  font-size: 64px;
  line-height: 100%;
}
.top__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  width: 720px;
  height: 64px;
}

.top-btn {
  width: 117px;
  height: 34px;
  border: 1px solid #202027;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
}
.top-btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.bigstar {
  position: absolute;
  opacity: 1;
  top: 94px;
  left: 63px;
  border-width: 1px;
}

.littlestar {
  position: absolute;
  opacity: 1;
  top: 69px;
  left: 156px;
  border-width: 1px;
}

.bigstar2 {
  position: absolute;
  opacity: 1;
  top: 568px;
  right: 400px;
  border-width: 1px;
}

.littlestar2 {
  position: absolute;
  opacity: 1;
  top: 538px;
  right: 500px;
  border-width: 1px;
}

.star2 {
  position: absolute;
  top: -10px;
  left: 932px;
}

.top2 {
  height: 1470px;
  background-image: url(img/top2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top2__content {
  max-width: 1201px;
  display: grid;
}
.top2__content_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  width: 788px;
  margin-bottom: 72px;
}
.top2__title2_text {
  margin-top: 94px;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.top2-box__content {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
}
.top2-box__content__card {
  height: 473px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top2-box__content__img {
  border-radius: 30px;
}
.top2-box__content__info {
  background: #FFFFFF;
  height: 159px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 36px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.top2-box__content__title {
  font-weight: 500;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: bottom;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 107px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.top2-box__content__description {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}
.top2-box__content__card2 {
  height: 512px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top2-box__content__card3 {
  height: 551px;
  width: 378px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top2-box__content__description_2 {
  max-width: 78px;
}
.top2-box__content__description_3 {
  max-width: 117px;
}

.top3 {
  height: 3500px;
  background-image: url(img/top3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top3__title3 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.top3-box__content {
  display: flex;
  justify-content: space-between;
}
.top3-box__content__card4 {
  height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top3-box__content__img {
  border-radius: 30px;
}
.top3-box__content__info {
  background: #FFFFFF;
  height: 159px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 36px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.top3-box__content__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
}
.top3-box__content__description {
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}
.top3-box__content__btn {
  width: 117px;
  height: 34px;
  border: 1px solid #202027;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
}
.top3-box__content:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.top3-box__content__card5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
}

.top4 {
  height: 150px;
  background-image: url(img/top4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top4__content {
  min-width: 285px;
}
.top4__content_text {
  padding-top: 60px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */